{% extends "base.html" %}

{% block content %}
{% if error_message %}
	<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
<div class="card">
	<div class="card-header bg-dark">
		<h6 class="text-white">{{ module_name|title }}</h6>
	</div>
	<div class="card-body">
		<form action="
		{% if stask_id %}
		/subtask/{{ stask_id|default:'' }}
		{% elif tlist_id %}
		/in_tlist/{{ tlist_id|default:'' }}
		{% else %}
		/edit_task/{{ task_id|default:'' }}
		{% endif %}
		" method="post">
			{% include 'form.html' %}
		</form>
	</div>	
</div>
{% endblock %}