{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Tracker - {{ module_name|title }}</title>
		<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static '/css/base.css' %}">
		</head>
	<body>
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
  					<a class="navbar-brand" href="{% url 'home' %}">
  						<img src="{% static '/images/logo.jpg' %}" class="d-inline-block align-top" width="30" height="30">
  						Panda Tracker
  					</a>
  					<div class="collapse navbar-collapse" id="navbarSupportedContent">
    					<ul class="navbar-nav mr-auto">
      						<li class="nav-item">
        						<a class="nav-link" href="{% url 'home' %}">Home</a>
      						</li>
      						<li class="nav-item dropdown">
        						<a class="nav-link dropdown-toggle 
        						{% if not current_user %}
        							disabled
        						{% endif %}
        						" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
        						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          							<a class="dropdown-item" href="{% url 'add_task' %}">Task</a>
          							<a class="dropdown-item" href="/edit_tlist">Task List</a>
          						</div>
      						</li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'completed_tasks' %}">Completed tasks</a>
                  </li>
      						{% if current_user %}
      						<li class="nav-item">
      							<a class="nav-link" href="#">{{ current_user.login }}</a>
      						</li>
      						<li class="nav-item ml-2">
      							<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      						</li>
      						{% else %}
      						<li class="nav-item ml-2">
      							<a class="nav-link" href="{% url 'login' %}">Log In</a>
      						</li>
      						<li class="nav-item ml-2">
      							<a class="nav-link" href="{% url 'registration' %}">Registration</a>
      						</li>
      						{% endif %}
    					</ul>
					</div>
				</nav>
			</div>
		</div>
		<hr>
		<div class="container">
			<div id="content">
        		{% block content %}{% endblock %}
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-lg-11">Made by Philipp Hamicevich</div>
				<div class="col-lg-1">2018</div>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
		<script src="{% static '/js/bootstrap.bundle.js' %}"></script>
		<script src="{% static '/js/bootstrap.js' %}"></script>
	</body>
<html>