{% extends "base.html" %}

{% block content %}
<div class="card cindent">
	<div class="card-header bg-dark">
		<h6 class="text-white">Completed tasks:</h6>	
	</div>
	<div class="card-body">
		<ul class="list-group">
			{% if atasks.count > 0 %}
			{% for task in atasks %}
				<li class="list-group-item">{{ task.name|capfirst }} <small class="text-muted">{{ task.complete_date|timesince:time }} ago by <i class="text-info">{{ task.user_login }}</i></small></li>
			{% endfor %}
			{% else %}
				{% if current_user %} 
					<li class="list-group-item">Empty</li>
				{% else %}
					<div class="alert alert-info">
						In order to view tasks or task lists, 
						<a href="{% url 'login' %}" class="alert-link">log in</a>
						 to your account or  
						<a href="{% url 'registration' %}" class="alert-link">register</a>.
					</div>
				{% endif %}
			{% endif %}
		</ul>
	</div>
</div>

{% endblock %}