{% extends "base.html" %}

{% block content %}
<div class="card cindent">
	<div class="card-header bg-dark">
		<h6 class="text-white">{{ module_name|title }}</h6>	
	</div>
	<div class="card-body">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Name:</div>
					<div class="col-lg-10">{{ task.name }}</div>
				</div>	
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Owner:</div>
					<div class="col-lg-10">{{ task.owner }}</div>
				</div>	
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Task List:</div>
					<div class="col-lg-10">{{ task.tlist }}</div>
				</div>	
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Creation date:</div>
					<div class="col-lg-10">{{ task.creation_date|date:"D d M Y" }} {{ task.creation_date|time:"H:i" }}</div>
				</div>	
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Last Updated:</div>
					<div class="col-lg-10">{{ task.last_update|date:"D d M Y" }} {{ task.last_update|time:"H:i" }}</div>
				</div>	
			</li>
			{% if task.deadline %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Deadline:</div>
					<div class="col-lg-10">{{ task.deadline|date:"D d M Y" }} {{ task.deadline|time:"H:i" }}</div>
				</div>	
			</li>
			{% endif %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Period:</div>
					<div class="col-lg-10">
						{% for wd in task.weekdays.all %}
						{{ wd }},
						{% empty %}
						<i class="text-muted">Not set</i>
						{% endfor %}
						{% if task.has_period %}
						 in {{ task.period_time|time:"H:i" }}
						{% endif %}
					</div>
				</div>	
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-2">Description:</div>
					<div class="col-lg-10"><p>{{ task.description }}</p></div>
				</div>	
			</li>
		</ul>
		<a href="{% url 'home' %}" class='btn btn-dark mt-2'>Back</a>
	</div>
</div>

{% endblock %}