{% csrf_token %}
{% for field in form %}
<div class="form-group">
	<label>{{ field.label }}</label>
	{{ field.errors|safe }}
	{{ field }}
	<small class="form-text text-muted">{{ field.help_text }}</small>
</div>
{% endfor %}
<button type="submit" class="btn btn-dark">{{ module_name|title }}</button>