{% extends "base.html" %}

{% block content %}
{% if success_message %}
<div class="alert alert-success">
	{{ success_message }}
</div>
{% endif %}
<div class="card cindent">
	<div class="card-header bg-dark">
		<h6 class="text-white">Unsorted tasks:</h6>	
	</div>
	<div class="card-body">
		<ul>
			{% if tasks %}
			{% for task in tasks %}
				{% include  "task.html" %}
			{% endfor %}
			{% else %}
				{% if current_user %} 
					<li>Empty</li>
				{% else %}
					<div class="alert alert-info">
						In order to view tasks or task lists, 
						<a href="{% url 'login' %}" class="alert-link">log in</a>
						 to your account or  
						<a href="{% url 'registration' %}" class="alert-link">register</a>.
					</div>
				{% endif %}
			{% endif %}
		</ul>
	</div>
</div>
{% if tlists.count > 0 %}
	{% for tlist in tlists %}
		{% include 'tlist.html' %}	
	{% endfor %}
{% endif %}

{% if sh_tasks %}
<div class="card cindent">
	<div class="card-header bg-dark">
		<h6 class="text-white">
			<span class="badge badge-light">Shared</span>
			Unsorted tasks:
		</h6>	
	</div>
	<div class="card-body">
		<ul>
			{% for task in sh_tasks %}
				{% with shared=1 %}
				{% include  "task.html" %}
				{% endwith %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if sh_tlists.count > 0 %}
	{% for tlist in sh_tlists %}
		{% with shared=1 %}	
			{% include 'tlist.html' %}
		{% endwith %}	
	{% endfor %}
{% endif %}

{% endblock %}