{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark">
		<h6 class="text-white">{{ module_name|title }}</h6>
	</div>
	<div class="card-body">
		{% if error_message %}
		<div class="alert alert-danger">{{ error_message }}</div>
		{% endif %}
		<form action="{% url 'login' %}" method="post">
		{% include 'form.html' %}
		</form>		
	</div>
</div>
{% endblock %}