{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark">
		<h6 class="text-white">{{ module_name|title }}</h6>
	</div>
	<div class="card-body">
		<form action="{% url 'registration' %}" method="post">
		{% csrf_token %}
		{% include 'form.html' %}
		</form>		
	</div>
</div>
{% endblock %}