{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark">
		<h6 class="text-white">{{ module_name|title }}</h6>
	</div>
	<div class="card-body">
		{% if error_message %}
		<div class="alert alert-danger">{{ error_message }}</div>
		{% endif %}
		<form action="{% url 'share_tlist' tlist.id  %}" method="post">
			{% csrf_token %}
			<p>
				<label>Task List Id</label>
				<input type="text" name="tlist_id" readonly value="{{ tlist.id }}" class="form-control">
				<small class="form-text text-muted">Name: {{ tlist.name }}</small>
			</p>
			{{ form.as_p }}	
			<button class="btn btn-dark" type="submit">{{ module_name|title }}</button>
		</form>		
	</div>
</div>
{% endblock %}