{% extends "base.html" %}

{% block content %}
{% if success_message %}
<div class="alert alert-success">
	{{ success_message }}
</div>
{% endif %}
<div class="card cindent">
	<div class="card-header bg-dark">
		<h6 class="text-white">Unsorted tasks:</h6>	
	</div>
	<div class="card-body">
		<ul>
			{% if sh_tasks %}
			{% for task in sh_tasks %}
				{% include  "task.html" %}
			{% endfor %}
			{% else %}
					<li>Empty</li>
			{% endif %}
		</ul>
	</div>
</div>
{% if sh_tlists.count > 0 %}
	{% for tlist in sh_tlists %}
		<div class="card cindent">
			<div class="card-header bg-dark">
				<div class="row">
					<div class="col-lg-6 text-white">{{ tlist.name }}:</div>
					<div class="col-lg-6 text-right">
						<div class="btn-group dropdown">
  							<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"></button>
  							<div class="dropdown-menu">
  								<form action="{% url 'tlist_action' tlist.id %}" method="post">
  									{% csrf_token %}
  									<input type="submit" name="edit" class="dropdown-item" value="Edit">
  									<input type="submit" name="remove" class="dropdown-item" value="Remove">
  									<input type="submit" name="add_task" class="dropdown-item" value="Add task">
  								</form>
  							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="card-body">
				<ul class="list-group-flush">
					{% if tlist.task_set.count > 0 %}
						{% for task in tlist.task_set.all %}
							{% include "task.html" %}
						{% endfor %}
					{% else %}
						<li class="list-group-item">Empty</li>
					{% endif %}
				</ul>
			</div>
		</div>	
	{% endfor %}
{% endif %}
{% endblock %}