{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-header bg-dark">
		<h6 class="text-white">{{ module_name|title }}</h6>
	</div>
	<div class="card-body">
		{% if error_message %}
		<div class="alert alert-danger">{{ error_message }}</div>
		{% endif %}
		<form action="{% url 'share_task' task.id  %}" method="post">
			{% csrf_token %}
			<p>
				<label>Task Id</label>
				<input type="text" name="task_id" readonly value="{{ task.id }}" class="form-control">
				<small class="form-text text-muted">Name: {{ task.name }}</small>
			</p>
			{% include 'form.html' %}
		</form>		
	</div>
</div>
{% endblock %}