<li>
	<div class="btn-group dropright">
  		<a class="dropdown-toggle" data-toggle="dropdown">
  			{% if task.has_period %}
        <span class="badge badge-dark">Period</span>
        {% endif %}
        {{ task.name }}
  		</a>
  		<div class="dropdown-menu">
  			<form action="{% url 'task_action' task.id %}" method="post">
  			{% csrf_token %}
    		<input class="dropdown-item" type="submit" name="edit" value="Edit">
    		<input class="dropdown-item" type="submit" name="remove" value="Remove">
        <input class="dropdown-item" type="submit" name="detail" value="Detail">
    		{% if not shared %}
        <input class="dropdown-item" type="submit" name="share" value="Share">
        {% endif %}
        <input class="dropdown-item" type="submit" name="complete" value="Complete">
    		<input class="dropdown-item" type="submit" name="add_subtask" value="Add subtask">
  			</form>
  		</div>
	</div>
	{% if task.task_set.count > 0 %}
		<ul>
			{% for t in task.task_set.all %}
				{% with task=t template_name="task.html" %}
					{% include template_name %}
				{% endwith %}
			{% endfor %}
		</ul>
	{% endif %}
</li>